.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-details {
    width: 60%;

    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;

    .title {
      margin: 0;

      color: #333333;
      font-size: 94px;
      font-weight: 600;
      letter-spacing: -4px;
      line-height: 96px;
    }

    .description {
      width: 75%;
      color: #425466;
      font-size: 18px;
      letter-spacing: 0.2px;
      line-height: 28px;
    }

    .cta-buttons {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .cta-button {
        margin-right: 14px;
      }
    }
  }

  .hero-images {
    width: 40%;

    position: relative;

    .front {
      position: absolute;
      top: -30px;
      right: -320px;
      z-index: 10;
    }

    .back {
      margin-top: 20px;
    }
  }
}
