.menu-container {
  color: #0a2540;
  background-color: cadetblue;

  min-height: 56px;
  padding: 12px 0;
  padding-right: 16px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  .items-container {
    padding: 0;
    margin-left: 20px;
    margin-right: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    li {
      color: white;
      font-weight: 400;
      padding: 10px 20px;
      cursor: pointer;
    }
  }

  .cta-buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
