.cta-button {
  padding: 8px 16px;
  border-radius: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  outline: none;

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    margin-left: 6px;
    color: inherit;
    width: 12px;
    height: 12px;

    transition: transform 250ms;
  }

  &.primary {
    background-color: #c44a47;
  }

  &.semi-transparent {
    background-color: rgba($color: white, $alpha: 0.25);
  }

  &.transparent {
    color: #3a3a3a;
    background-color: transparent;
  }

  &:hover {
    opacity: 0.8;

    svg {
      transform: translateX(5px);
    }
  }
}
